body {
  background-color: #000000;
  margin: 0;
}

header {
  background-color: #000000;
  height: 100px;
  display: flex;
  color: white;


}

header>div {
  flex: 1;
  color: rgb(255, 255, 255);
}

nav {
  justify-content: left;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

ul {

  display: flex;

}

li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;

}

.conter {
  width: 60%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

#certfication>div {
  background-color: #000000;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;


}

.conter>div>h3 {
  color: rgb(255, 255, 255);


}

h3 {
  margin: 0;
}

#aboutme {
  display: flex;
  flex-direction: row;

}

.games {
  background-color: #000000;
  height: 600px;
  flex: 5;
  margin: 10px;



}

.images {
  height: 200px;

}

.image {

  max-width: 200px;
  object-fit: cover;
  height: 300px;
  border: solid 2px rgb(0, 0, 0);

}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  border: solid 8px rgb(255, 255, 255);

}

p {
  color: white
}

p {
  font-size: 18px;
}

h1 {
  color: rgb(250, 250, 250)
}

h3 {
  color: white 
}

a:visited {
  color: rgb(255, 255, 255);
}

a:link {
  color: rgb(255, 255, 255);
}

div {
  color: white
}
h3{
    font-size: 2rem;
}

